# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
ENV/
.pytest_cache/

# Distribution / packaging
build/
dist/
*.egg-info/

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/
*.log

# Environment / secrets
.env
.env.*

# IDEs
.vscode/
.idea/
*.swp

# macOS
.DS_Store

# Node modules (if any)
node_modules/
